html{
   box-sizing: border-box;
}
body{
   margin: 0;
   min-height: 100vh;
   background: linear-gradient(to right, #2980b9, #6dd5fa, #ffffff);
   display: flex;
   justify-content: center;
   align-items: center;
}

.calculator{
   background-color: #ffffff;
   width: 400px;
   border-radius: 12px;
   box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.6);

}
.cal_display{
   background-color: black;
   color: white;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   border-radius: 10px 10px 0px 0px;
   height: 80px;
   
}
.cal_display h1{
   margin: 0;
   padding: 25px;
   font-size: 45px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-weight: 100;
   overflow-x: auto;
}
/* custom scrollbar */
/* width */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #f1f1f1;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #888;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }

 /*===========*********===================== */

 /* Buttons */
 .cal_buttons{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 10px;
   padding: 10px;
 }
  
 button{
    min-height: 50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(199, 196, 196);
 }
 button:hover{
    filter: brightness(110%);
 }
 /* Styling on operators */
 .operator{
    background: grey;
    color: white;
    font-size: 30px;

 }
 /* clear button */
 .All_clear{
   
    background: rgb(252, 43, 43);
 }
 .All_clear:hover{
   filter: brightness(90%);
 }
 /* Equal button */
 .equal-btn{ 
   grid-row-end: span 2;
   background:rgb(13, 206, 87);
 }  

 /* media Queries */
  
 @media screen and (max-width: 600px) {
    .calculator{
       width: 90%;
    }
 }